$preloader-color: #e0ba00;
$preloader-bg-color: linear-gradient(#000, #7b7b7be3);

$base-text-color: #e0ba00;
$base-bg-color: #333333;

$message-color: $base-text-color;
$slide-title-color: $base-text-color;
$text-color: $base-text-color;

$main-bg-color: linear-gradient(#000, #7b7b7be3);

$header-bg-color: $base-bg-color;
$footer-bg-color: $base-bg-color;
$searcher-bg-color: $base-bg-color;